html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(LoginBackground.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.loginbox{
    height: 30vw;
    width: 30vw;
position: absolute;
top: 25vw;
left: 50vw;
transform: translate(-50%,-50%);
color: white;
}
.loginbox h1{
float: top;
font-size: 5vw;
border-bottom: 6px solid #e0a016;
margin-bottom: 2vw;
padding: 1.4vw 0;
}

.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #e0a016;
}
.textbox i{
width: 2vw;
float: left;
text-align: center;
}
.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 200px;
    float: left;
    margin: 0 10px;
}
.buttn{
    width: 100%;
    background: none;
    border: 2px solid #e0a016;
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 5px;
    margin: 12px 0;
}
.buttn:hover{
    opacity: 75%;
}
a{
    text-decoration: none;
    color: white;
}
h2{
    font-size: 4vw;
}
@media (min-width: 1000px) {
    .loginbox{
        height: 30vw;
        width: 20vw;
    position: absolute;
    top: 25vw;
    left: 50vw;
    transform: translate(-50%,-50%);
    color: white;
    }
    .loginbox h1{
        float: top;
        font-size: 3vw;
        border-bottom: 6px solid #e0a016;
        margin-bottom: 2vw;
        padding: 1.4vw 0;
        }
        h2{
            font-size: 1vw;
        }
}